 header{ overflow: hidden;

 }
 h1{
            width:38%;
            margin: auto;
        }
.hemiciclo{
            
            text-align: center;
            border: 2px black solid;
            width: 98%;
        }