#tablaIzq{
    background-color: lightcyan;
    width: 55%;
    height: 250px;
    margin: auto;
    float: left;
}
#rosaDoble{
    border-collapse: collapse;
    width: 70%;
   height: 220px;
    border: 3px violet double;
    
}
#rosaDoble tr{
border: 5px violet double;
} 
    


#rosaDoble td{
    border: 5px violet double;
}
#tablaDcha{
width: 45%;
float: right;
background-color: bisque;
height: 250px;
}
#rosaNormal{
    border-collapse: collapse;
    width: 50%;
    height: 250px;
    margin: auto;
}
#rosaNormal td{
    border: 2px violet solid;
}
#rosaNormal th{
    border: 2px violet solid;
}
#derechaAbajo{
    width: 55%;
float: left;
background-color: rgb(196, 255, 210);
height: 250px;

}
#tablaNaranja{
    border-collapse: collapse;
    width: 50%;
    height: 250px;
    margin: auto;
}
#tablaNaranja td{
     border: 2px violet solid;
}
#tablaNaranja tr{
 border: 2px violet solid;
}
.naranja{
    background-color: rgb(253, 139, 0);

}
.amarillo{
    background-color: rgb(250, 250, 66);
}
.blanco{
    background-color: white;
}