#logoZara{
    width: 30%;
    float: left;
}
header{
    width: 95%;
}
header nav,h1{
    text-align: center;
    padding-bottom: 45px;
  
}
 h1{
    padding-bottom:  190px ;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
nav{ 
    height: 250px;
    float: right;
    width: 65%;
    background-color: gold;
    padding-bottom: 95px;
}
 p{
    padding-top: 65px;
    display: inline;
    margin: 0 65px;
   
}
section{
    
    padding: 200px;
    width: 65%;
}
#paisaje{
   padding-top: 100px;
    float: left;
    width: 25%;
}
legend, fieldset{
    border: 2px black solid;
}
input,select{
    display: flex;
    float: right;
    width: 40%;

}
label{
    width: 30%;
   margin-bottom: 25px;
   display:flex;
   
}
label,input{

    display: inline-block;
}
form, fieldset{
    width:50%;
    height:60%;
    padding: 5px;
   
}
section #modelo, form{
   margin: auto ;
    width:55%;
   display: flex;
 
}